/*.container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
  }
  .displayNone {
    display: none;
  }*/

  @media (max-width: 320px) {
    
  
  .back-home {
    color: black;
    font-size: 30px;
    background-color: #DDAA26;
    text-decoration: none;
    border-radius: 20px;
    padding: 1px 35px;
    font-family: 'Italianno', cursive;
    
  
  
  }

  .container-cards {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(11, 1fr);
    margin-right: 5.5px;
    gap: 10px;
    margin-bottom: 20px;
  
  }
  .card-container{
    width: 50px;
    height: 120px;
    
   
  }
  img {
    width: 56px;
    height: 125px;
  }
}